body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  width: 500px;
}

header, footer {
  margin: 10px 0;
  height: 20px;
}
header .title {
  float: left;
}
header .score {
  float: right;
}

div#main {
  clear: left;
  position: relative;
}

div#buttons {
  position: absolute;
  width: 500px;
  top: 225px;
}
div#buttons button {
  margin: 0 auto;
  width: 150px;
  display: block;
  height: 60px;
  font-size: 20px;
}

canvas#game {
  background: #FFC;
  border: 1px solid black;
}
